In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
data = pd.read_excel('https://github.com/ShinyQ/Tugas-Pengantar-AI-3_KNN/blob/main/mobil.xls?raw=true')
data = data.rename({'Harga (Ratus Juta)': 'Harga'}, axis=1)
data.sample(8)

       Nama Mobil  Ukuran  Kenyamanan  Irit  Kecepatan  Harga
10     Honda City       5           8     7          8   2.70
0     Toyota Agya       4           4     9          6   1.00
8         Alphard       9          10     4          8  10.00
2   Toyota Avanza       6           5     6          6   2.00
4         Xpander       7           7     6          7   2.25
15  Suzuki Ertiga       7           7     7          7   2.30
13    Toyota Foxy       9           9     5          7   5.50
5          Livina       7           7     6          7   2.10

In [9]:
data.isna().sum()

Nama Mobil    0
Ukuran        0
Kenyamanan    0
Irit          0
Kecepatan     0
Harga         0
dtype: int64

In [8]:
data.describe(include='all')

         Nama Mobil     Ukuran  Kenyamanan       Irit  Kecepatan      Harga
count            17  17.000000   17.000000  17.000000  17.000000  17.000000
unique           17        NaN         NaN        NaN        NaN        NaN
top     Toyota Foxy        NaN         NaN        NaN        NaN        NaN
freq              1        NaN         NaN        NaN        NaN        NaN
mean            NaN   6.529412    6.352941   6.941176   6.823529   3.247059
std             NaN   2.034627    2.234423   1.784327   1.131111   2.406597
min             NaN   3.000000    3.000000   4.000000   5.000000   0.800000
25%             NaN   5.000000    4.000000   6.000000   6.000000   1.750000
50%             NaN   7.000000    7.000000   7.000000   7.000000   2.300000
75%             NaN   8.000000    8.000000   9.000000   8.000000   5.000000
max             NaN  10.000000   10.000000  10.000000   9.000000  10.000000

### **Exploratory Data Analysis**

### **Data Preprocessing**

### **Modelling**

In [ ]:
class distance:
      def __init__(self):
          pass

      def euclidean_distance(self):
          pass

      def manhattan_distance(self):
          pass
      
      def minkowski_distance(self):
          pass
      
      def supremum_distance(self):
          pass

### **Result**